<ion-content [fullscreen]="true">
  <div class="profile-container">
    
    <div class="profile-title">
      <h1>PROFILE</h1>
    </div>
    <!-- Profile Header -->
    <div class="profile-header" *ngIf="userProfile">
      <div class="profile-avatar" (click)="uploadProfileImage()">
        <img *ngIf="profileImage" [src]="profileImage" alt="Profile photo">
        <ion-icon *ngIf="!profileImage" name="person"></ion-icon>
        <div class="edit-overlay">
          <ion-icon name="camera"></ion-icon>
        </div>
      </div>
      
      <h1>{{ userProfile.firstName }} </h1>
      <h1>{{ userProfile.lastName }}</h1>
      <p>{{ userProfile.businessName }}</p>
      
      <!-- Navigation Buttons -->
      <div class="nav-buttons">
        <ion-button  expand="block" fill="clear" class="nav-button" (click)="goToEditProfile()"  >
          <!-- (click)="goToEditProfile()" -->
          <p>Éditer le profil</p>
        </ion-button>
        <!--  -->
        <ion-button  expand="block" fill="clear" class="nav-button" (click)="goToHistoric()"  >
          <p>Historique</p>
        </ion-button>
      </div>
    </div>


  <!-- New Buttons -->
  <div class="action-buttons">
    <ion-button expand="block" color="danger" class="logout-button" (click)="logout()">
      <span>Déconnecter</span>
    </ion-button>
  </div>
</div>
</ion-content>