<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form (ngSubmit)="onLogin()">
    <ion-item>
      <ion-input [(ngModel)]="email" name="email" placeholder="Email" type="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="password" name="password" placeholder="Password" type="password" required></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Login</ion-button>
    <!-- <a href="#" class="forgot-password" (click)="onForgotPassword($event)">Forgot Password?</a> -->
  </form>
  
  <div class="signup-link">
    <!-- Don't have an account? <a href="#" (click)="onSignUp($event)">Sign Up</a> -->
  </div>
</ion-content>