

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="login-container">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
    
    <div class="logo-container">
      <img src="../../../../assets/images/logo.png" alt="Logo de l'Application" class="app-logo">
      <h2 class="welcome-text">Bienvenue</h2>
      <p class="subtitle">Connectez-vous pour continuer votre voyage</p>
    </div>
    
    <form (ngSubmit)="onLogin()">
      <ion-item>
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input [(ngModel)]="email" name="email" placeholder="Email" type="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input [(ngModel)]="password" name="password" placeholder="Mot de passe" type="password" required></ion-input>
        <ion-icon name="eye-outline" slot="end" class="password-toggle"></ion-icon>
      </ion-item>
      
      <ion-button expand="block" type="submit" class="login-button">
        <ion-icon name="log-in-outline" slot="start"></ion-icon>
        Connexion
      </ion-button>
    </form>
    
    <div class="signup-link">
      Vous n'avez pas de compte? <a routerLink="/register">S'inscrire</a>
    </div>
  </div>
</ion-content>