<ion-header>
  <ion-toolbar>
    <ion-title>Phone Directory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="input-section">
    <ion-item class="search-item">
      <ion-input [(ngModel)]="searchQuery" placeholder="Search numbers..."></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input [(ngModel)]="newPhoneNumber" placeholder="Enter phone number"></ion-input>
    </ion-item>
    
    <ion-input [(ngModel)]="newPhoneNumber" placeholder="Enter phone number" clearInput></ion-input>
    <ion-button expand="block" (click)="addPhoneNumber()">
      Add Number
    </ion-button>
  </div>
  
  <div class="phone-list">
    <h2>Phone Numbers</h2>
    
    <ion-list *ngIf="filteredNumbers.length > 0">
      <ion-item *ngFor="let number of filteredNumbers">
        {{ number }}
      </ion-item>
    </ion-list>
    
    <div class="empty-state" *ngIf="filteredNumbers.length === 0">
      <p>No phone numbers found</p>
    </div>
  </div>
</ion-content>