<ion-header>
  <ion-toolbar>
    <ion-title>Pending Business Accounts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let account of pendingAccounts">
      <ion-label>
        <h2>{{ account.businessName }}</h2>
        <p>{{ account.email }}</p>
        <p>Status: {{ account.status }}</p>
      </ion-label>
      <ion-button color="success" (click)="validateAccount(account.id)">Validate</ion-button>
      <ion-button color="danger" (click)="rejectAccount(account.id)">Reject</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
